extends layout
block headermeta
block headerscripts
  - bodyclass=''
  script(src="/vendor/js/require.js", data-main="/js/startup")
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/main.css')
block content
  - var errorAttributes = {'data-bind': {component: {name: 'error', params: exception }}};
  div&attributes(errorAttributes)
  .error= labels.about.message